<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <script>
        function changeImage() {
            document.querySelector('img').src = 'https://media1.tenor.com/m/-ZSYdjcVEEgAAAAd/annoyed-cat.gif';
        }
    </script>
</head>
<body>
    <div align="center">
        <img src="https://media1.tenor.com/m/7BErTr3oA_kAAAAd/cat-cats.gif" alt="aoaya" onclick="changeImage()">
        <h1>WELCOME TO MEDIA UPLOADING API</h1>

        <h4>Swagger UI: <a href="/api-docs">API Documentation</a></h4>
        
        <h4 style="cursor: pointer; position: absolute; bottom: 0; width: 100%; text-align: center;"><a href="#" onclick="changeImage()">Klik ini untuk ganti kucing</a></h4>
    </div>
</body>
</html>